/* App.css */
body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: left;
  margin-bottom: 20px;
}

.top-bar {
  display: flex;
  justify-content: flex-start; /* Кнопка и поиск слева */
  gap: 10px;
  margin-bottom: 20px; /* Отступ снизу */
}

.update-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.update-btn:hover {
  background-color: #0056b3;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.crypto-list {
  list-style: none;
  padding: 0;
}

.crypto-list li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
